<!-- app/templates/accounts/add_people.html -->

{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5 px-3">
      <div class="text-center mt-5">
        <h4 class="mb-4">Default Profile Picture</h4>

        <!-- Display User Profile Image -->
        <div class="mb-4">
          <img
            src="{{ url_for('static', filename='images/user.png') }}"
            alt="{{ user.first_name.title() }}'s Profile Image"
            class="rounded-circle img-fluid profile-image"
          />
        </div>
      </div>
    </div>

    <div class="col-md-9 mt-3 px-3">
      <div for="addUserForm" class="form-label text-center mb-4">
        <h3 class="h4 text-dark fw-bold">Add User Information</h3>
      </div>

      <!-- Bootstrap Tabs -->
      <ul
        class="nav nav-pills justify-content-around border-0 bg-light rounded-pill mb-5"
        id="addUserTabs"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link rounded-pill active"
            id="basicInfo-tab"
            data-bs-toggle="tab"
            href="#basicInfo"
            role="tab"
            aria-controls="basicInfo"
            aria-selected="true"
          >
            Basic Info
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link rounded-pill"
            id="password-tab"
            data-bs-toggle="tab"
            href="#password"
            role="tab"
            aria-controls="password"
            aria-selected="false"
          >
            Password
          </a>
        </li>
      </ul>

      <form method="POST" action="{{ url_for('accounts.people.add_people') }}">
        <!-- CSRF Token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- Tab Content -->
        <div class="tab-content" id="addUserTabsContent">
          <!-- Basic Info Section -->
          <div
            class="tab-pane fade show active"
            id="basicInfo"
            role="tabpanel"
            aria-labelledby="basicInfo-tab"
          >
            <h3>Basic Info Section</h3>
            <div class="row">
              <div class="col-md-6">
                <!-- First Name -->
                <div class="mb-3">
                  {{ form.first_name.label(class="form-label") }} {{
                  form.first_name(class="form-control") }}
                </div>

                <!-- Last Name -->
                <div class="mb-3">
                  {{ form.last_name.label(class="form-label") }} {{
                  form.last_name(class="form-control") }}
                </div>

                <!-- Mobile Number -->
                <div class="mb-3">
                  {{ form.mobile_number.label(class="form-label") }} {{
                  form.mobile_number(class="form-control") }}
                </div>
              </div>

              <div class="col-md-6">
                <!-- Email -->
                <div class="mb-3">
                  {{ form.email.label(class="form-label") }} {{
                  form.email(class="form-control") }}
                </div>

                <!-- House Section -->
                <div class="mb-3">
                  {{ form.house_section.label(class="form-label") }} {{
                  form.house_section(class="form-control") }}
                </div>

                <!-- House Number -->
                <div class="mb-3">
                  {{ form.house_number.label(class="form-label") }} {{
                  form.house_number(class="form-control") }}
                </div>
              </div>
            </div>
          </div>

          <!-- Password Section -->
          <div
            class="tab-pane fade"
            id="password"
            role="tabpanel"
            aria-labelledby="password-tab"
          >
            <div class="row mx-auto">
              <h3>Password Section</h3>
              <!-- Password -->
              <div class="col-md-6 mb-3">
                {{ form.password.label(class="form-label") }}
                <div class="input-group border rounded-3">
                  {{ form.password(class="form-control border-0",
                  id="reg_password") }}
                  <button
                    class="btn btn-light"
                    type="button"
                    onclick="togglePassword('reg_password', 'password_icon')"
                    title="Toggle Password Visibility"
                  >
                    <ion-icon
                      id="password_icon"
                      name="eye"
                      class="text-primary"
                    ></ion-icon>
                  </button>
                </div>
              </div>

              <!-- Confirm Password -->
              <div class="col-md-6 mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                <div class="input-group border rounded-3">
                  {{ form.confirm_password(class="form-control border-0",
                  id="confirm_password") }}
                  <button
                    class="btn btn-light"
                    type="button"
                    onclick="togglePassword('confirm_password', 'confirm_password_icon')"
                    title="Toggle Password Visibility"
                  >
                    <ion-icon
                      id="confirm_password_icon"
                      name="eye"
                      class="text-primary"
                    ></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block rounded-pill">
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
