{% if not hide_footer %}

<footer class="bg-dark text-light mt-3 py-5">
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <h3 class="mb-4">Contact Information</h3>
        <p>
          <ion-icon
            name="location-outline"
            class="text-primary me-3"
          ></ion-icon>
          Nairobi, Kenya
        </p>
        <p>
          <ion-icon name="mail-outline" class="text-info me-3"></ion-icon>
          info@{{ company_name.split() | join('') }}.com
        </p>
        <p>
          <ion-icon name="call-outline" class="text-success me-3"></ion-icon>
          +{{ contact_number }}
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 text-center">
        <h3 class="mb-4">Quick Links</h3>
        <ul class="list-unstyled">
          <li class="mb-1"><a href="#HOME">Home</a></li>
          <li class="mb-1"><a href="#about">About Us</a></li>
          <li class="mb-1"><a href="#services">Services</a></li>
          <li class="mb-1"><a href="#contant">Contact</a></li>
          <li class="mb-1"><a href="#testimonials">Testimonials</a></li>
          <li class="mb-1"><a href="#news">News</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="social-media text-center">
          <h3 class="mb-4">Follow Us</h3>
          <p class="mb-5">Stay connected on social media:</p>
          <ul class="list-inline">
            <li class="list-inline-item ms-2">
              <a href="#" class="social-icon text-primary" title="Facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item ms-2">
              <a href="#" class="social-icon text-success" title="WhatsApp">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item ms-2">
              <a href="#" class="social-icon text-primary" title="Twitter">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item ms-2">
              <a href="#" class="social-icon text-info" title="LinkedIn">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item ms-2">
              <a href="#" class="social-icon text-danger" title="Instagram">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="mailto:mungiria8@gmail.com">ApoGen.io</a>. All Rights Reserved
    </p>
  </div>
</footer>

{% endif %}
