{% if not hide_navbar %}

<!-- Navbar -->
<header
  id="navbar"
  class="navbar navbar-expand-lg sticky-sm-top {% if not current_user.is_authenticated %}bg-dark{% endif %}"
>
  <div class="container-fluid">
    <!-- Toggle Button -->
    <button class="toggle-btn-mobile" type="button">
      <ion-icon name="apps-outline" class="text-dark"></ion-icon>
    </button>

    <!-- Brand -->
    <a
      class="navbar-brand text-center d-flex align-items-center fw-bold ms-3 {% if not current_user.is_authenticated %}text-light{% else %}gradient-text{% endif %}"
      href="#"
    >
      {% if company_name %}{{ company_name.title() }}{% else %}ApoGen{% endif %}
    </a>

    <!-- Navbar Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
      ></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="d-flex align-items-center ms-auto">
        {% if not current_user.is_authenticated %}
        <!-- Login Button -->
        <ul class="navbar-nav me-3">
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#home"
            >
              Home
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#about"
            >
              About Us
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#services"
            >
              Services
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#contact"
            >
              Contant
            </a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link text-primary" href="{{ url_for('auth.login') }}">
              Login
            </a>
          </li>
        </ul>
        {% endif %} {% if current_user.is_authenticated %}

        <!-- people Information and Dropdown -->
        <ul class="navbar-nav me-3">
          <!-- Messages -->
          <li class="nav-item dropdown me-3">
            <button
              class="nav-link text-dark position-relative"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <ion-icon name="mail-unread-outline"></ion-icon>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                2 <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-start border-0 shadow mt-2"
              aria-labelledby="notificationsDropdown"
            >
              <li class="dropdown-item small">
                <a
                  href="{{ url_for('accounts.messages.messages') }}"
                  class="text-decoration-none text-dark"
                  >Messages 1</a
                >
              </li>
              <li class="dropdown-item small">
                <a
                  href="{{ url_for('accounts.messages.messages') }}"
                  class="text-decoration-none text-dark"
                  >Messages 2</a
                >
              </li>
              <li class="dropdown-item small">
                <a
                  href="{{ url_for('accounts.messages.messages') }}"
                  class="text-decoration-none text-dark"
                  >Messages 3</a
                >
              </li>
            </ul>
          </li>

          <!-- Notifications -->
          <li class="nav-item dropdown me-3">
            <button
              class="nav-link text-dark position-relative"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <ion-icon name="notifications-outline" class="me-1"></ion-icon>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                99+ <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-start border-0 shadow mt-2"
              aria-labelledby="notificationsDropdown"
            >
              <li class="dropdown-item small">
                <a href="#" class="text-decoration-none text-dark"
                  >Notification 1</a
                >
              </li>
              <li class="dropdown-item small">
                <a href="#" class="text-decoration-none text-dark"
                  >Notification 2</a
                >
              </li>
              <li class="dropdown-item small">
                <a href="#" class="text-decoration-none text-dark"
                  >Notification 3</a
                >
              </li>
            </ul>
          </li>

          <!-- Current User Name -->
          <li class="nav-item">
            <a class="nav-link text-dark">
              Hello
              <span class="text-info fw-bold"
                >{{ current_user.first_name.title() }}</span
              >
            </a>
          </li>

          <!-- Current User Balance -->
          <li class="nav-item">
            <a class="nav-link text-dark">
              Balance
              <span
                class="fw-bold {% if current_user.balance > 0 %}text-success{% elif current_user.balance == 0 %}text-dark{% else %}text-danger{% endif %}"
                >KES {{ "%0.0f"|format(current_user.balance) }}</span
              >
            </a>
          </li>
        </ul>

        <!-- people Image Dropdown -->
        <div class="btn-group">
          <button
            type="button"
            class="btn navbar-brand rounded-circle border-0"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% if current_user.profile_image is not none %}
            <img
              src="{{ current_user.profile_image }}"
              alt="{{ current_user.first_name.title() }}'s Profile Image"
              class="rounded-circle img-fluid profile-image"
              style="width: 40px; height: 40px; object-fit: cover"
            />
            {% else %}
            <img
              src="{{ url_for('static', filename='images/user.png') }}"
              alt="logo image"
              height="40px"
              width="40px"
            />
            {% endif %}
          </button>

          <ul
            class="dropdown-menu dropdown-menu-end border-0 shadow bg-light"
            aria-labelledby="dropdownMenuButton"
          >
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.people.edit_user', user_id=current_user.id) }}"
              >
                <ion-icon name="person-outline" class="me-2"></ion-icon> Profile
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.records.billing') }}"
              >
                <ion-icon name="wallet-outline" class="me-2"></ion-icon> Billing
                Info
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.records.billing') }}"
              >
                <ion-icon name="stats-chart-outline" class="me-2"></ion-icon>
                Usage Statistics
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.security.security_options') }}"
              >
                <ion-icon
                  name="shield-checkmark-outline"
                  class="me-2"
                ></ion-icon>
                Security Options
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                onclick="localStorage.clear();"
                href="{{ url_for('auth.logout') }}"
              >
                <ion-icon name="log-out-outline" class="me-2"></ion-icon> Logout
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% endif %}
