/* Navbar */
.navbar-brand {
  font-size: 24px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

.gradient-text {
  background: linear-gradient(to right, #ff6e6e, #78e8bc, #4780ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .img-thumbnail {
    height: 50px;
    width: 50px;
  }
}

/* Adjustments for Desktop */
@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
