.wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

/* Sidebar */
#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn-desktop,
.toggle-btn-mobile {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn-mobile {
  display: none;
}

.toggle-btn-desktop ion-icon,
.toggle-btn-mobile ion-icon {
  color: #000;
  font-size: 1.5rem;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) .logo-tagline,
#sidebar:not(.expand) a.sidebar-link span {
  visibility: collapse;
}

.sidebar-nav {
  padding: 0rem;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #000;
  display: block;
  font-size: 0.9rem;
  border-radius: 5px;
  white-space: nowrap;
  border-left: 3px solid transparent;
  transition: background-color 0.3s ease, margin-inline-start 0.3s ease,
    border-left 0.3s ease;
}

.sidebar-link ion-icon {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: #fffdfdcc;
  margin-inline-start: 2px;
  border-left: 3px solid #3b7ddd;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #f0f0f0;
  padding: 0;
  min-width: 15rem;
  display: none;
  transition: display 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: max-content;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.35s ease-in-out;
  background-color: rgb(248, 249, 250);
  scroll-behavior: smooth;
}

.navbar,
#sidebar {
  background-color: #f0f0f0;
  z-index: 1000;
}

/* CSS for Small Screens (Mobile) */
@media screen and (max-width: 767px) {
  #sidebar {
    display: none;
  }

  #sidebar.expand {
    min-width: fit-content;
  }

  .toggle-btn-desktop {
    display: none;
  }

  .toggle-btn-mobile {
    display: block;
  }

  #sidebar:not(.expand) .toggle-btn-mobile {
    margin-left: -100px;
  }

  .sidebar-content {
    padding-left: 0;
  }

  .sidebar-logo {
    margin: auto 30px;
  }
  .logo-tagline {
    margin-left: 30px;
  }

  .sidebar-nav {
    margin-top: 20px;
    padding: 0rem;
    flex: 1 1 auto;
  }

  .main {
    padding-left: 0;
  }

  #sidebar.expand .sidebar-link {
    display: block;
  }

  a.sidebar-link {
    padding: 0.625rem 1rem;
  }
}
