{% if not hide_navbar %}

<header class="navbar navbar-expand-lg sticky-sm-top">
  <div class="container-fluid">
    <a class="navbar-brand text-dark text-center fw-semibold" href="#">
      <span class="text-danger">Aqua</span><span class="text-info">Flow</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="d-flex align-items-center ms-auto">
        <ul class="navbar-nav me-3">
          {% if user != 'silas' %}
          <li class="nav-item">
            <a href="{{ url_for('home.home') }}" class="nav-link text-dark">
              Login
            </a>
          </li>
          {% endif %} {% if user == 'silas' %}
          <li class="nav-item">
            <a class="nav-link text-dark">
              Hello <span class="text-primary">{{ user.title() }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark">
              Bill <span class="text-warning">KES {{ bill }}</span>
            </a>
          </li>
        </ul>

        <div class="btn-group">
          <button
            type="button"
            class="btn navbar-brand rounded-circle border-0"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{ url_for('static', filename='images/user.png') }}"
              alt="logo image"
              height="40px"
              width="40px"
            />
          </button>
          {% endif %}

          <ul class="dropdown-menu dropdown-menu-end border-0 shadow bg-info">
            <li>
              <a class="dropdown-item" href="#">
                <ion-icon name="person" class="me-2"></ion-icon> Bill
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <ion-icon name="bar-chart" class="me-2"></ion-icon> Current
                Units
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <ion-icon name="cube" class="me-2"></ion-icon> Total Units
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">
                <ion-icon name="log-out" class="me-2"></ion-icon> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{% endif %}
