<!-- app/templates/auth/register.html -->
{% extends 'base.html' %} {% block content %}

<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card col-md-5 p-5 bg-light shadow-sm rounded border-0">
    <h2 class="card-title text-primary text-center mb-4">Register</h2>
    <form
      id="registrationForm"
      method="post"
      action="{{ url_for('auth.register_dev_admin') if 'dev_admin' in request.path else url_for('auth.register') }}"
    >
      <!-- CSRF Token -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <!-- First Section -->
      <div id="firstSection">
        <div class="d-flex">
          <div class="mb-3 me-2">
            {{ form.first_name.label(class="form-label") }} {{
            form.first_name(class="form-control", placeholder="First Name") }}
          </div>

          <div class="mb-3 ms-2">
            {{ form.last_name.label(class="form-label") }} {{
            form.last_name(class="form-control", placeholder="Last Name") }}
          </div>
        </div>

        <div class="mb-3">
          {{ form.email.label(class="form-label") }} {{
          form.email(class="form-control", placeholder="Email Address",
          type="email") }}
          <div id="emailError" class="text-danger" style="display: none"></div>
        </div>

        <div class="mb-3">
          {{ form.mobile_number.label(class="form-label") }} {{
          form.mobile_number(class="form-control", placeholder="Mobile Number",
          type="number") }}
          <div
            id="mobileNumberError"
            class="text-danger"
            style="display: none"
          ></div>
        </div>

        <!-- Next Button -->
        <div class="text-center mt-3">
          <button
            type="button"
            id="nextButton"
            class="btn btn-primary btn-block rounded-pill"
          >
            Next
          </button>
        </div>
      </div>

      <!-- Second Section -->
      <div id="secondSection" style="display: none">
        <!-- Password -->
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          <div class="input-group border rounded-3">
            {{ form.password(class="form-control border-0", id="password",
            placeholder="Password") }}
            <button
              class="btn btn-light"
              type="button"
              onclick="togglePassword('password', 'password_icon')"
              title="Toggle Password Visibility"
            >
              <ion-icon
                id="password_icon"
                name="eye"
                class="text-primary"
              ></ion-icon>
            </button>
          </div>
          <div
            id="passwordError"
            class="text-danger"
            style="display: none"
          ></div>
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
          {{ form.confirm_password.label(class="form-label") }}
          <div class="input-group border rounded-3">
            {{ form.confirm_password(class="form-control border-0",
            id="confirm_password", placeholder="Confirm Password") }}
            <button
              class="btn btn-light"
              type="button"
              onclick="togglePassword('confirm_password', 'confirm_password_icon')"
              title="Toggle Password Visibility"
            >
              <ion-icon
                id="confirm_password_icon"
                name="eye"
                class="text-primary"
              ></ion-icon>
            </button>
          </div>
          <div
            id="confirmPasswordError"
            class="text-danger"
            style="display: none"
          ></div>
        </div>

        <!-- Previous and Register Buttons -->
        <div class="d-flex justify-content-between">
          <button
            type="button"
            id="previousButton"
            class="btn btn-secondary btn-block rounded-pill"
          >
            Previous
          </button>
          <button type="submit" class="btn btn-primary btn-block rounded-pill">
            Register
          </button>
        </div>
      </div>
    </form>

    <!-- Horizontal Line -->
    <hr class="my-4" />

    <!-- Login Link -->
    <div class="text-center">
      <span class="mb-1">Already have an account?</span>
      <a href="{{ url_for('auth.login') }}" class="btn btn-link text-primary">
        Login
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("registrationForm");
    const emailInput = document.getElementById("{{ form.email.id }}");
    const mobileNumberInput = document.getElementById(
      "{{ form.mobile_number.id }}"
    );
    const passwordInput = document.getElementById("{{ form.password.id }}");
    const confirmPasswordInput = document.getElementById(
      "{{ form.confirm_password.id }}"
    );

    // Function to validate email format
    function validateEmail(email) {
      const re = /\S+@\S+\.\S+/;
      return re.test(email);
    }

    // Function to validate mobile number format
    function validateMobileNumber(mobileNumber) {
      return mobileNumber.length >= 9; // Change this condition based on your requirements
    }

    // Function to validate password format
    function validatePassword(password) {
      return password.length >= 6; // Minimum length of 6 characters
    }

    // Function to validate confirm password
    function validateConfirmPassword(password, confirmPassword) {
      return password === confirmPassword;
    }

    // Add event listeners for input fields
    emailInput.addEventListener("blur", function () {
      if (!validateEmail(emailInput.value)) {
        document.getElementById("emailError").textContent =
          "Invalid email address.";
        document.getElementById("emailError").style.display = "block";
      } else {
        document.getElementById("emailError").style.display = "none";
      }
    });

    mobileNumberInput.addEventListener("blur", function () {
      if (!validateMobileNumber(mobileNumberInput.value)) {
        document.getElementById("mobileNumberError").textContent =
          "Invalid mobile number.";
        document.getElementById("mobileNumberError").style.display = "block";
      } else {
        document.getElementById("mobileNumberError").style.display = "none";
      }
    });

    passwordInput.addEventListener("blur", function () {
      if (!validatePassword(passwordInput.value)) {
        document.getElementById("passwordError").textContent =
          "Password must be at least 6 characters long.";
        document.getElementById("passwordError").style.display = "block";
      } else {
        document.getElementById("passwordError").style.display = "none";
      }
    });

    confirmPasswordInput.addEventListener("blur", function () {
      if (
        !validateConfirmPassword(
          passwordInput.value,
          confirmPasswordInput.value
        )
      ) {
        document.getElementById("confirmPasswordError").textContent =
          "Passwords do not match.";
        document.getElementById("confirmPasswordError").style.display = "block";
      } else {
        document.getElementById("confirmPasswordError").style.display = "none";
      }
    });

    // Function to navigate to the next section
    function nextSection() {
      document.getElementById("firstSection").style.display = "none";
      document.getElementById("secondSection").style.display = "block";
    }

    // Function to navigate to the previous section
    function previousSection() {
      document.getElementById("secondSection").style.display = "none";
      document.getElementById("firstSection").style.display = "block";
    }

    // Event listener for next button
    document
      .getElementById("nextButton")
      .addEventListener("click", nextSection);

    // Event listener for previous button
    document
      .getElementById("previousButton")
      .addEventListener("click", previousSection);
  });

  // Function to toggle password visibility
  function togglePassword(passwordFieldId, iconId) {
    const passwordField = document.getElementById(passwordFieldId);
    const icon = document.getElementById(iconId);

    if (passwordField.type === "password") {
      passwordField.type = "text";
      icon.name = "eye-off";
    } else {
      passwordField.type = "password";
      icon.name = "eye";
    }
  }
</script>

{% endblock %}
