<!-- File: app/templates/auth/reset_password.html -->

{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
      <div class="card border-1 p-5">
        <div class="card-body">
          <h2 class="card-title text-center text-danger mb-3">
            Reset <span class="text-info">Password</span>
          </h2>
          <p class="text-center mb-4">
            Please enter your new password below to reset your password for your
            account.
          </p>
          <form
            method="post"
            action="{{ url_for('auth.reset_password', token=token) }}"
            class="needs-validation"
            novalidate
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <!-- Form -->
            <div class="mb-3">
              <label for="password" class="form-label">New Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter your new password"
                required
              />
              {% for error in form.password.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm your new password"
                class="form-control"
                required
              />
              {% for error in form.confirm_password.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="mb-3">
              <small class="text-muted"
                >Your new password must be at least 6 characters.</small
              >
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-block">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
