{% extends "base.html" %} {% block content %}

<!-- #MAIN BODY SECTION -->
<div class="container-fluid">
  <div class="card-header fw-bold border-0 fs-5 mt-1">
    <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
    Dashboard
  </div>

  <!-- Four Bootstrap Cards -->
  <div class="row mt-3 px-3 text-dark">
    <div class="col-md-3 mb-3">
      <div class="card border-0 shadow bg-primary h-100 bg-opacity-50">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-3 text-center">
              <ion-icon name="people" style="font-size: 2rem"></ion-icon>
            </div>
            <div class="col-md-9">
              <div class="card-text fs-6">102 Houses</div>
              <div class="card-title fw-bold fs-5">Connections</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0 shadow bg-warning h-100 bg-opacity-50">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-3 text-center">
              <ion-icon name="cash" style="font-size: 2rem"></ion-icon>
            </div>
            <div class="col-md-9">
              <div class="card-text fs-6">KES 650k</div>
              <div class="card-title fw-bold fs-5">Revenue</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0 shadow bg-info h-100 bg-opacity-50">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-3 text-center">
              <ion-icon name="water" style="font-size: 2rem"></ion-icon>
            </div>
            <div class="col-md-9">
              <div class="card-text fs-6">1.5k Units</div>
              <div class="card-title fw-bold fs-5">Consamption</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0 shadow bg-danger h-100 bg-opacity-50">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-3 text-center">
              <ion-icon name="cash" style="font-size: 2rem"></ion-icon>
            </div>
            <div class="col-md-9">
              <div class="card-text fs-6">KES 120k</div>
              <div class="card-title fw-bold fs-5">Expenses</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Charts Data -->
  <div class="row mt-3 px-3">
    <!-- Bar Chart -->
    <div class="col-md-9 mb-3">
      <div class="card h-100 border-0 shadow">
        <div class="card-body">
          <h5 class="card-title">Performance Overview</h5>
          <div class="row">
            <div class="col-md-4 text-center p-3">
              <p class="text-muted mb-2">Overview Of Latest Month</p>
              <b class="fw-bold mb-3 h5" id="currentMonthEarnings">KES 0.00</b>
              <p class="text-muted mb-2">Current Month Earnings</p>
              <b class="fw-bold mb-3 h5" id="currentMonthWater">0 Units</b>
              <p class="text-muted mb-2">Water Consumed</p>

              <div
                class="input-group input-group-sm justify-content-between mt-5"
              >
                <button
                  class="btn btn-info me-1"
                  type="button"
                  onclick="previousMonth()"
                >
                  Previous
                </button>
                <button
                  class="btn btn-success"
                  type="button"
                  onclick="currentMonth()"
                >
                  Current
                </button>
              </div>
            </div>

            <div class="col-md-8">
              <canvas class="chart1" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Define myChart variable outside the scope to make it accessible globally
      let myChart;

      // Wait for the DOM content to load
      document.addEventListener("DOMContentLoaded", function () {
        const chart1 = document.querySelectorAll(".chart1");

        chart1.forEach(function (chart) {
          var ctx = chart.getContext("2d");

          // Function to generate random data for water consumed and revenue for each month
          function generateRandomData() {
            var waterData = [];
            var revenueData = [];
            for (var i = 0; i < 12; i++) {
              waterData.push(Math.floor(Math.random() * 700)); // Adjust the range as needed for water consumed
              revenueData.push(Math.floor(Math.random() * 1000)); // Adjust the range as needed for revenue
            }
            return {
              water: waterData,
              revenue: revenueData,
            };
          }

          var data = generateRandomData();

          myChart = new Chart(ctx, {
            type: "bar",
            data: {
              labels: [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ],
              datasets: [
                {
                  label: "Water Consumed",
                  data: data.water,
                  backgroundColor: "rgba(54, 162, 235, 0.6)", // Use a single color for water consumed across all months
                  borderColor: "rgba(54, 162, 235, 1)",
                  borderWidth: 1,
                  barThickness: 8, // Adjust the thickness of the bars
                  borderRadius: 15, // Adjust the rounding of the bar ends
                },
                {
                  label: "Revenue",
                  data: data.revenue,
                  backgroundColor: "rgba(255, 99, 132, 0.6)", // Use a different color for revenue across all months
                  borderColor: "rgba(255, 99, 132, 1)",
                  borderWidth: 1,
                  barThickness: 8, // Adjust the thickness of the bars
                  borderRadius: 15, // Adjust the rounding of the bar ends
                },
              ],
            },
            options: {
              plugins: {
                legend: {
                  display: true,
                  position: "top",
                },
              },
              scales: {
                y: {
                  beginAtZero: false,
                  grid: {
                    color: "rgba(0, 0, 0, 0.1)", // Adjust the color of the grid lines
                  },
                },
              },
            },
          });
        });
      });

      // Function to update the current month earnings and water consumed
      function updateData() {
        // Fetch actual data for the selected month (replace with your actual data fetching logic)
        const actualEarnings =
          "KES " + (Math.floor(Math.random() * 50000) + 50000).toFixed(2); // Random earnings between 50000 and 100000
        const actualWater = Math.floor(Math.random() * 500) + 500 + " Units"; // Random water between 500 and 1000 units

        // Update the HTML with the fetched data
        document.getElementById("currentMonthEarnings").innerText =
          actualEarnings;
        document.getElementById("currentMonthWater").innerText = actualWater;
      }

      // Simulate fetching actual data for the current month when the page loads
      updateData();
    </script>

    <!-- Doughnut Chart -->
    <div class="col-md-3 mb-3">
      <div class="card h-100 border-0 shadow">
        <div class="card-body">
          <h5 class="card-title">Overview Performance</h5>
          <canvas class="chart2" width="400" height="200"></canvas>
        </div>
      </div>
    </div>

    <script>
      const chart2 = document.querySelectorAll(".chart2");

      chart2.forEach(function (chart) {
        var ctx = chart.getContext("2d");

        // Function to generate random data for doughnut chart
        function generateRandomData() {
          return [
            Math.floor(Math.random() * 1000),
            Math.floor(Math.random() * 1000),
            Math.floor(Math.random() * 1000),
          ];
        }

        var data = generateRandomData();

        var myChart = new Chart(ctx, {
          type: "doughnut",
          data: {
            labels: ["Invoice", "Payment", "Units"],
            datasets: [
              {
                label: "# of Votes",
                data: data,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.4)",
                  "rgba(54, 162, 235, 0.4)",
                  "rgba(255, 206, 86, 0.4)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            layout: {
              padding: {
                top: 20,
              },
            },
            plugins: {
              legend: {
                display: true,
                position: "top",
                labels: {
                  usePointStyle: true,
                  pointStyle: "circle",
                },
              },
            },
            scales: {
              display: false,
            },
          },
        });
      });
    </script>
  </div>

  <!-- Table Data -->
  <div class="row mt-3 mb-3 px-3">
    <div class="col-md-3 mb-3">
      <!-- Sticky Notes and All Admins List -->
      <div class="card border-0">
        <!-- Sticky Notes -->
        <div
          class="card border-0 rounded shadow mb-3 p-0"
          style="background-color: rgba(255, 224, 146, 0.5)"
        >
          <div class="card-body bg-opacity-25">
            <h5
              class="card-title text-center mb-4 border-bottom border-dark border-opacity-50 rounded"
            >
              Sticky Note
            </h5>
            <textarea
              id="sticky-note-input"
              class="form-control border-0"
              style="resize: none; height: 250px; background-color: transparent"
              placeholder="Type your notes here..."
            ></textarea>
          </div>
        </div>

        <script>
          // Load existing sticky notes from localStorage
          window.addEventListener("load", function () {
            var savedNote = localStorage.getItem("stickyNote");
            if (savedNote) {
              document.getElementById("sticky-note-input").value = savedNote;
            }
          });

          // Save sticky note content to localStorage on input
          document
            .getElementById("sticky-note-input")
            .addEventListener("input", function () {
              var noteText = this.value;
              localStorage.setItem("stickyNote", noteText);
            });
        </script>

        <!-- All Admins List -->
        <div class="card border-0 shadow" style="padding-bottom: 5px">
          <h5 class="card-title px-3 mt-3">All Admins</h5>
          <div class="card-body" style="max-height: 220px; overflow-y: auto">
            <!-- Admin 1 -->
            <div class="admin-item row align-items-center mb-3">
              <div class="col-md-3">
                <img
                  src="{{ url_for('static', filename='images/user.png') }}"
                  class="img-thumbnail border-0"
                  alt="Default Profile Picture"
                />
              </div>
              <div class="col-md-7">
                <div>
                  <h6 class="mb-0">John Doe</h6>
                  <p class="text-muted small mb-0 fst-italic">Active Now</p>
                </div>
              </div>
              <div class="col-md-2 text-end">
                <a href="#" class="text-success">
                  <ion-icon name="ellipse"></ion-icon>
                </a>
              </div>
            </div>

            <!-- Admin 2 -->
            <div class="admin-item row align-items-center mb-3">
              <div class="col-md-3">
                <img
                  src="{{ url_for('static', filename='images/user.png') }}"
                  class="img-thumbnail border-0"
                  alt="Default Profile Picture"
                />
              </div>
              <div class="col-md-7">
                <div>
                  <h6 class="mb-0">Emma Johnson</h6>
                  <p class="text-muted small mb-0 fst-italic">
                    Active 5 min ago
                  </p>
                </div>
              </div>
              <div class="col-md-2 text-end">
                <a href="#" class="text-info">
                  <ion-icon name="ellipse"></ion-icon>
                </a>
              </div>
            </div>

            <!-- Admin 3 -->
            <div class="admin-item row align-items-center">
              <div class="col-md-3">
                <img
                  src="{{ url_for('static', filename='images/user.png') }}"
                  class="img-thumbnail border-0"
                  alt="Default Profile Picture"
                />
              </div>
              <div class="col-md-7">
                <div>
                  <h6 class="mb-0">Sarah Patel</h6>
                  <p class="text-muted small mb-0 fst-italic">
                    Active 2 hour ago
                  </p>
                </div>
              </div>
              <div class="col-md-2 text-end">
                <a href="#" class="text-danger">
                  <ion-icon name="ellipse"></ion-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Activities Table -->
    <div class="col-md-9 mb-3">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h5 class="card-title mb-4">Delinquent Invoices</h5>

          <div class="table-responsive">
            <table
              id="example"
              class="table table-borderless data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>63</td>
                  <td>2011/07/25</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>San Francisco</td>
                  <td>66</td>
                  <td>2009/01/12</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>Edinburgh</td>
                  <td>22</td>
                  <td>2012/03/29</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>33</td>
                  <td>2008/11/28</td>
                  <td>$162,700</td>
                </tr>
                <tr>
                  <td>Brielle Williamson</td>
                  <td>Integration Specialist</td>
                  <td>New York</td>
                  <td>61</td>
                  <td>2012/12/02</td>
                  <td>$372,000</td>
                </tr>
                <tr>
                  <td>Herrod Chandler</td>
                  <td>Sales Assistant</td>
                  <td>San Francisco</td>
                  <td>59</td>
                  <td>2012/08/06</td>
                  <td>$137,500</td>
                </tr>
                <tr>
                  <td>Rhona Davidson</td>
                  <td>Integration Specialist</td>
                  <td>Tokyo</td>
                  <td>55</td>
                  <td>2010/10/14</td>
                  <td>$327,900</td>
                </tr>
                <tr>
                  <td>Colleen Hurst</td>
                  <td>Javascript Developer</td>
                  <td>San Francisco</td>
                  <td>39</td>
                  <td>2009/09/15</td>
                  <td>$205,500</td>
                </tr>
                <tr>
                  <td>Sonya Frost</td>
                  <td>Software Engineer</td>
                  <td>Edinburgh</td>
                  <td>23</td>
                  <td>2008/12/13</td>
                  <td>$103,600</td>
                </tr>
                <tr>
                  <td>Jena Gaines</td>
                  <td>Office Manager</td>
                  <td>London</td>
                  <td>30</td>
                  <td>2008/12/19</td>
                  <td>$90,560</td>
                </tr>
                <tr>
                  <td>Quinn Flynn</td>
                  <td>Support Lead</td>
                  <td>Edinburgh</td>
                  <td>22</td>
                  <td>2013/03/03</td>
                  <td>$342,000</td>
                </tr>
                <tr>
                  <td>Charde Marshall</td>
                  <td>Regional Director</td>
                  <td>San Francisco</td>
                  <td>36</td>
                  <td>2008/10/16</td>
                  <td>$470,600</td>
                </tr>
                <tr>
                  <td>Haley Kennedy</td>
                  <td>Senior Marketing Designer</td>
                  <td>London</td>
                  <td>43</td>
                  <td>2012/12/18</td>
                  <td>$313,500</td>
                </tr>
                <tr>
                  <td>Tatyana Fitzpatrick</td>
                  <td>Regional Director</td>
                  <td>London</td>
                  <td>19</td>
                  <td>2010/03/17</td>
                  <td>$385,750</td>
                </tr>
                <tr>
                  <td>Michael Silva</td>
                  <td>Marketing Designer</td>
                  <td>London</td>
                  <td>66</td>
                  <td>2012/11/27</td>
                  <td>$198,500</td>
                </tr>
                <tr>
                  <td>Paul Byrd</td>
                  <td>Chief Financial Officer (CFO)</td>
                  <td>New York</td>
                  <td>64</td>
                  <td>2010/06/09</td>
                  <td>$725,000</td>
                </tr>
                <tr>
                  <td>Gloria Little</td>
                  <td>Systems Administrator</td>
                  <td>New York</td>
                  <td>59</td>
                  <td>2009/04/10</td>
                  <td>$237,500</td>
                </tr>
                <tr>
                  <td>Bradley Greer</td>
                  <td>Software Engineer</td>
                  <td>London</td>
                  <td>41</td>
                  <td>2012/10/13</td>
                  <td>$132,000</td>
                </tr>
                <tr>
                  <td>Dai Rios</td>
                  <td>Personnel Lead</td>
                  <td>Edinburgh</td>
                  <td>35</td>
                  <td>2012/09/26</td>
                  <td>$217,500</td>
                </tr>
                <tr>
                  <td>Jenette Caldwell</td>
                  <td>Development Lead</td>
                  <td>New York</td>
                  <td>30</td>
                  <td>2011/09/03</td>
                  <td>$345,000</td>
                </tr>
                <tr>
                  <td>Yuri Berry</td>
                  <td>Chief Marketing Officer (CMO)</td>
                  <td>New York</td>
                  <td>40</td>
                  <td>2009/06/25</td>
                  <td>$675,000</td>
                </tr>
                <tr>
                  <td>Caesar Vance</td>
                  <td>Pre-Sales Support</td>
                  <td>New York</td>
                  <td>21</td>
                  <td>2011/12/12</td>
                  <td>$106,450</td>
                </tr>
                <tr>
                  <td>Doris Wilder</td>
                  <td>Sales Assistant</td>
                  <td>Sydney</td>
                  <td>23</td>
                  <td>2010/09/20</td>
                  <td>$85,600</td>
                </tr>
                <tr>
                  <td>Angelica Ramos</td>
                  <td>Chief Executive Officer (CEO)</td>
                  <td>London</td>
                  <td>47</td>
                  <td>2009/10/09</td>
                  <td>$1,200,000</td>
                </tr>
                <tr>
                  <td>Gavin Joyce</td>
                  <td>Developer</td>
                  <td>Edinburgh</td>
                  <td>42</td>
                  <td>2010/12/22</td>
                  <td>$92,575</td>
                </tr>
                <tr>
                  <td>Jennifer Chang</td>
                  <td>Regional Director</td>
                  <td>Singapore</td>
                  <td>28</td>
                  <td>2010/11/14</td>
                  <td>$357,650</td>
                </tr>
                <tr>
                  <td>Brenden Wagner</td>
                  <td>Software Engineer</td>
                  <td>San Francisco</td>
                  <td>28</td>
                  <td>2011/06/07</td>
                  <td>$206,850</td>
                </tr>
                <tr>
                  <td>Fiona Green</td>
                  <td>Chief Operating Officer (COO)</td>
                  <td>San Francisco</td>
                  <td>48</td>
                  <td>2010/03/11</td>
                  <td>$850,000</td>
                </tr>
                <tr>
                  <td>Shou Itou</td>
                  <td>Regional Marketing</td>
                  <td>Tokyo</td>
                  <td>20</td>
                  <td>2011/08/14</td>
                  <td>$163,000</td>
                </tr>
                <tr>
                  <td>Michelle House</td>
                  <td>Integration Specialist</td>
                  <td>Sydney</td>
                  <td>37</td>
                  <td>2011/06/02</td>
                  <td>$95,400</td>
                </tr>
                <tr>
                  <td>Suki Burks</td>
                  <td>Developer</td>
                  <td>London</td>
                  <td>53</td>
                  <td>2009/10/22</td>
                  <td>$114,500</td>
                </tr>
                <tr>
                  <td>Prescott Bartlett</td>
                  <td>Technical Author</td>
                  <td>London</td>
                  <td>27</td>
                  <td>2011/05/07</td>
                  <td>$145,000</td>
                </tr>
                <tr>
                  <td>Gavin Cortez</td>
                  <td>Team Leader</td>
                  <td>San Francisco</td>
                  <td>22</td>
                  <td>2008/10/26</td>
                  <td>$235,500</td>
                </tr>
                <tr>
                  <td>Martena Mccray</td>
                  <td>Post-Sales support</td>
                  <td>Edinburgh</td>
                  <td>46</td>
                  <td>2011/03/09</td>
                  <td>$324,050</td>
                </tr>
                <tr>
                  <td>Unity Butler</td>
                  <td>Marketing Designer</td>
                  <td>San Francisco</td>
                  <td>47</td>
                  <td>2009/12/09</td>
                  <td>$85,675</td>
                </tr>
                <tr>
                  <td>Howard Hatfield</td>
                  <td>Office Manager</td>
                  <td>San Francisco</td>
                  <td>51</td>
                  <td>2008/12/16</td>
                  <td>$164,500</td>
                </tr>
                <tr>
                  <td>Hope Fuentes</td>
                  <td>Secretary</td>
                  <td>San Francisco</td>
                  <td>41</td>
                  <td>2010/02/12</td>
                  <td>$109,850</td>
                </tr>
                <tr>
                  <td>Vivian Harrell</td>
                  <td>Financial Controller</td>
                  <td>San Francisco</td>
                  <td>62</td>
                  <td>2009/02/14</td>
                  <td>$452,500</td>
                </tr>
                <tr>
                  <td>Timothy Mooney</td>
                  <td>Office Manager</td>
                  <td>London</td>
                  <td>37</td>
                  <td>2008/12/11</td>
                  <td>$136,200</td>
                </tr>
                <tr>
                  <td>Jackson Bradshaw</td>
                  <td>Director</td>
                  <td>New York</td>
                  <td>65</td>
                  <td>2008/09/26</td>
                  <td>$645,750</td>
                </tr>
                <tr>
                  <td>Olivia Liang</td>
                  <td>Support Engineer</td>
                  <td>Singapore</td>
                  <td>64</td>
                  <td>2011/02/03</td>
                  <td>$234,500</td>
                </tr>
                <tr>
                  <td>Bruno Nash</td>
                  <td>Software Engineer</td>
                  <td>London</td>
                  <td>38</td>
                  <td>2011/05/03</td>
                  <td>$163,500</td>
                </tr>
                <tr>
                  <td>Sakura Yamamoto</td>
                  <td>Support Engineer</td>
                  <td>Tokyo</td>
                  <td>37</td>
                  <td>2009/08/19</td>
                  <td>$139,575</td>
                </tr>
                <tr>
                  <td>Thor Walton</td>
                  <td>Developer</td>
                  <td>New York</td>
                  <td>61</td>
                  <td>2013/08/11</td>
                  <td>$98,540</td>
                </tr>
                <tr>
                  <td>Finn Camacho</td>
                  <td>Support Engineer</td>
                  <td>San Francisco</td>
                  <td>47</td>
                  <td>2009/07/07</td>
                  <td>$87,500</td>
                </tr>
                <tr>
                  <td>Serge Baldwin</td>
                  <td>Data Coordinator</td>
                  <td>Singapore</td>
                  <td>64</td>
                  <td>2012/04/09</td>
                  <td>$138,575</td>
                </tr>
                <tr>
                  <td>Zenaida Frank</td>
                  <td>Software Engineer</td>
                  <td>New York</td>
                  <td>63</td>
                  <td>2010/01/04</td>
                  <td>$125,250</td>
                </tr>
                <tr>
                  <td>Zorita Serrano</td>
                  <td>Software Engineer</td>
                  <td>San Francisco</td>
                  <td>56</td>
                  <td>2012/06/01</td>
                  <td>$115,000</td>
                </tr>
                <tr>
                  <td>Jennifer Acosta</td>
                  <td>Junior Javascript Developer</td>
                  <td>Edinburgh</td>
                  <td>43</td>
                  <td>2013/02/01</td>
                  <td>$75,650</td>
                </tr>
                <tr>
                  <td>Cara Stevens</td>
                  <td>Sales Assistant</td>
                  <td>New York</td>
                  <td>46</td>
                  <td>2011/12/06</td>
                  <td>$145,600</td>
                </tr>
                <tr>
                  <td>Hermione Butler</td>
                  <td>Regional Director</td>
                  <td>London</td>
                  <td>47</td>
                  <td>2011/03/21</td>
                  <td>$356,250</td>
                </tr>
                <tr>
                  <td>Lael Greer</td>
                  <td>Systems Administrator</td>
                  <td>London</td>
                  <td>21</td>
                  <td>2009/02/27</td>
                  <td>$103,500</td>
                </tr>
                <tr>
                  <td>Jonas Alexander</td>
                  <td>Developer</td>
                  <td>San Francisco</td>
                  <td>30</td>
                  <td>2010/07/14</td>
                  <td>$86,500</td>
                </tr>
                <tr>
                  <td>Shad Decker</td>
                  <td>Regional Director</td>
                  <td>Edinburgh</td>
                  <td>51</td>
                  <td>2008/11/13</td>
                  <td>$183,000</td>
                </tr>
                <tr>
                  <td>Michael Bruce</td>
                  <td>Javascript Developer</td>
                  <td>Singapore</td>
                  <td>29</td>
                  <td>2011/06/27</td>
                  <td>$183,000</td>
                </tr>
                <tr>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>New York</td>
                  <td>27</td>
                  <td>2011/01/25</td>
                  <td>$112,000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
