{% extends "base.html" %} {% block content %}

<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/components/invoice.css') }}"
  />
</head>

<div class="invoice-wrapper" id="print-area">
  <div class="invoice">
    <div class="invoice-container">
      <!-- Invoice Header Section -->
      <div class="invoice-head">
        <div class="invoice-head-top">
          <div class="invoice-head-top-left text-start">
            {% if company_name %} {% set company_words = company_name.split() %}
            <h3 class="text-dark">
              {% for word in company_words %}
              <span
                class="text-{{ loop.cycle('info', 'danger', 'primary', 'warning', 'success', 'dark') }}"
                >{{ word.title() }}</span
              >
              {% endfor %}
            </h3>
            {% else %}
            <h3 class="text-info">Apo<span class="text-danger">Gen</span></h3>
            {% endif %}
          </div>
          <div class="invoice-head-top-right text-end">
            <h3>Invoice</h3>
          </div>
        </div>

        <div class="hr"></div>
        <div class="invoice-head-middle">
          <div class="invoice-head-middle-left text-start">
            <p>
              <span class="text-bold">Date</span>: {{
              invoice_data.timestamp.strftime('%d-%m-%Y') }}
            </p>
          </div>
          <div class="invoice-head-middle-right text-end">
            <p>
              <span class="text-bold">Invoice: </span>#{{
              invoice_data.invoice_id }}
            </p>
          </div>
        </div>

        <div class="hr"></div>
        <div class="invoice-head-bottom">
          <div class="invoice-head-bottom-left">
            <ul class="text-start">
              <li class="text-bold">Invoiced To:</li>
              <li>
                <b>Name:</b> {% if invoice_data.customer_name %}{{
                invoice_data.customer_name.title() }}{% else %}Bank Name{% endif
                %}
              </li>
              <li>
                <b>Phase:</b> {% if invoice_data.house_section %}{{
                invoice_data.house_section.title() }}{% else %}Bank Name{% endif
                %}
              </li>
              <li>
                <b>House No.:</b> {% if invoice_data.house_number %}{{
                invoice_data.house_number }}{% else %}Bank Name{% endif %}
              </li>
              <li>
                <b>Meter Reading:</b> {% if invoice_data.reading_value %}{{
                invoice_data.reading_value }} Units {% else %}Meter Reading{%
                endif %}
              </li>
              <li>
                <b>Contact No.:</b> {% if invoice_data.mobile %}(+254){{
                invoice_data.mobile[-9:] }}{% else %}Bank Name{% endif %}
              </li>
            </ul>
          </div>
          <div class="invoice-head-bottom-right">
            <ul class="text-end">
              <li class="text-bold">Pay To:</li>
              <li>
                <b>Name:</b> {% if company_name %}{{ company_name.title() }}{%
                endif %}
              </li>
              <li>
                <b>Gateway:</b> {% if bank_name %}{{ bank_name.title() }}{% else
                %}Bank Name{% endif %}
              </li>
              <li>
                <b>Pay Bill No:</b> {% if paybill %}{{ paybill }},{% else
                %}123456{% endif %}
              </li>
              <li>
                <b>Account No.:</b> {% if account_number %}{{ account_number
                }}{% else %}123456789{% endif %}
              </li>
              <li>
                <b>Contant:</b> {% if contact_number %}{{ contact_number }}{%
                else %}123456789{% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Invoice Body Section -->
      <div class="overflow-view">
        <div class="invoice-body">
          <table>
            <thead>
              <tr>
                <td class="text-bold">Service</td>
                <td class="text-bold">Description</td>
                <td class="text-bold text-center">Rate</td>
                <td class="text-bold text-center">QTY</td>
                <td class="text-bold">Amount</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ invoice_data.first_service }}</td>
                <td>{{ invoice_data.first_description }}</td>
                <td class="text-center">
                  KES {{ "%0.0f"|format(invoice_data.unit_price) }}
                </td>
                <td class="text-center">
                  {{ "%0.0f"|format(invoice_data.consumed) }}
                </td>
                <td class="text-end">
                  KES {{ "%0.0f"|format(invoice_data.unit_price *
                  invoice_data.consumed) }}
                </td>
              </tr>
              <tr>
                <td>{{ invoice_data.second_service }}</td>
                <td>{{ invoice_data.second_description }}</td>
                <td class="text-center">
                  KES {{ "%0.0f"|format(invoice_data.service_fee) }}
                </td>
                <td class="text-center">
                  {{ "%0.0f"|format(invoice_data.service_qty) }}
                </td>
                <td class="text-end">
                  KES {{ "%0.0f"|format(invoice_data.service_fee *
                  invoice_data.service_qty) }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="invoice-body-bottom">
            <div class="invoice-body-info-item border-bottom">
              <div class="info-item-td text-end text-bold">Sub Total:</div>
              <div class="info-item-td text-end">
                KES {{ "%0.0f"|format(invoice_data.sub_total_price +
                invoice_data.service_fee * invoice_data.service_qty) }}
              </div>
            </div>
            <div class="invoice-body-info-item border-bottom">
              <div class="info-item-td text-end text-bold">VAT (5%):</div>
              <div class="info-item-td text-end">
                KES {{ "%0.0f"|format(0.05 * (invoice_data.sub_total_price +
                invoice_data.service_fee * invoice_data.service_qty)) }}
              </div>
            </div>
            <div class="invoice-body-info-item">
              <div class="info-item-td text-end text-bold">Total:</div>
              <div class="info-item-td text-end">
                KES {{ "%0.0f"|format((invoice_data.sub_total_price +
                invoice_data.service_fee * invoice_data.service_qty) + (0.05 *
                (invoice_data.sub_total_price + invoice_data.service_fee *
                invoice_data.service_qty))) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Invoice Footer Section -->
      <div class="invoice-foot text-center">
        <p class="text-bold">
          NOTE: This is a computer-generated receipt and does not require a
          physical signature.
        </p>

        <div class="invoice-btns mt-3">
          <button type="button" class="invoice-btn" onclick="printInvoice()">
            <ion-icon name="print-outline"></ion-icon> Print/Download
          </button>
          <script>
            function printInvoice() {
              window.print();
            }
          </script>

          <!--
            <button type="button" class="invoice-btn ms-2">
                <ion-icon name="cloud-download-outline"></ion-icon> Download
            </button>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

{% endblock %}
