{% extends "base.html" %} {% block content %}

<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/components/chats.css') }}"
  />
</head>

<div class="container-fluid">
  <div class="chat-container-fluid">
    <div class="text-center mt-2">
      <h2 class="mb-1 fw-bold text-primary">Join Our Chat Community</h2>
      <p class="mb-3 text-muted fst-italic">
        Discover and connect with fellow members.
      </p>
    </div>

    <!-- Messages -->
    <div class="chat-container">
      <!-- Contacts Sidebar -->
      <div class="chat-sidebar rounded-start shadow-sm">
        <h3 class="fw-bold mt-3">Contacts</h3>
        <ul class="contacts-list">
          <!-- Broadcast Message -->
          <li class="contact-item">
            <a href="">
              <img src="https://via.placeholder.com/50" alt="Broadcast" />
              <div>
                <h6>Broadcast</h6>
                <p>All members</p>
              </div>
            </a>
          </li>

          <!-- Chat Self -->
          <li class="contact-item">
            <a
              href="{{ url_for('accounts.messages.messages', user_id=current_user.id) }}"
            >
              {% set profile_image = current_user.profile_image if
              current_user.profile_image is not none else url_for('static',
              filename='images/user.png') %}
              <img
                src="{{ profile_image }}"
                alt="{{ current_user.first_name|title }}'s Profile Image"
                class="rounded-circle img-fluid profile-image"
                style="width: 40px; height: 40px; object-fit: cover"
              />

              <div class="col ms-2">
                <h6>@{{ current_user.first_name }}</h6>
                <p class="text-success small mb-0 fst-italic">Online</p>
              </div>
            </a>
          </li>

          <!-- Chat Individuals -->
          {% set sorted_users = all_users | sort(attribute='id') %} {% for user
          in sorted_users %} {% if user.id != current_user.id %}
          <li class="contact-item">
            <a
              href="{{ url_for('accounts.messages.messages', user_id=user.id) }}"
            >
              {% set profile_image = user.profile_image if user.profile_image is
              not none else url_for('static', filename='images/user.png') %}
              <img
                src="{{ profile_image }}"
                alt="{{ user.first_name|title }}'s Profile Image"
                class="rounded-circle img-fluid profile-image"
                style="width: 40px; height: 40px; object-fit: cover"
              />
              <div class="col ms-2">
                <h6>
                  {{ user.first_name.title() }} {{ user.last_name.title() }}
                </h6>
                <!-- Last Seen Online -->
                {% if user.last_login is not none and user.last_logout is not
                none %} {% if user.last_login > user.last_logout %}
                <p class="text-success small mb-0 fst-italic">Online</p>
                {% else %} {% set time_difference = now - user.last_logout %} {%
                if time_difference.days > 0 %} {% set time_unit = 'days' %} {%
                elif time_difference.seconds // 3600 > 0 %} {% set time_unit =
                'hrs' %} {% else %} {% set time_unit = 'min' %} {% endif %}
                <p class="text-muted small mb-0 fst-italic">
                  Active {{ time_difference.days if time_unit == 'days' else
                  time_difference.seconds // 3600 if time_unit == 'hrs' else
                  time_difference.seconds // 60 }} {{ time_unit }} ago
                </p>
                {% endif %} {% endif %}
              </div>
              {% set unread_count = unread_sent_message_counts[user.id] if
              user.id in unread_sent_message_counts else 0 %} {% if unread_count
              > 0 %}
              <span class="unread-message-count">{{ unread_count }}</span>
              {% endif %}
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <!-- Chat Area -->
      <div class="chat-area rounded-end shadow-sm">
        <div id="chatMessagesConversationAreaLabel">
          <h5 class="fw-bold mb-1 ms-3">Chatting ...</h5>
          <!-- No Conversation Message -->
          <ul
            class="{% if not messages %}message-list text-center{% else %}d-none{% endif %}"
          >
            <li id="noConversationMessage" class="message-item">
              No conversations yet. Choose someone to start chatting with.
            </li>
          </ul>

          <!-- Chat Messages List -->
          <ul class="{% if messages %}message-list{% endif %}">
            {% for message in messages %}
            <!-- Incoming Messages -->
            {% if message.receiver_id == current_user.id and message.sender_id
            != current_user.id %}
            <li class="message-item incoming">
              <div class="message-content">
                <p>{{ message.content }}</p>
                <p class="message-time">
                  <span
                    >{{ message.timestamp.strftime('%d %b %Y') if (now -
                    message.timestamp).total_seconds() > 365*24*3600 else
                    message.timestamp.strftime('%d %b %H:%M') if (now -
                    message.timestamp).total_seconds() > 24*3600 else
                    message.timestamp.strftime('%H:%M') }}</span
                  >
                  <span
                    class="ms-1 {% if message.is_read %}text-success{% endif %}"
                    >{% if message.is_read %}Read{% else %}Sent{% endif %}</span
                  >
                </p>
              </div>
            </li>
            {% endif %}

            <!-- Outgoing Messages -->
            {% if message.sender_id == current_user.id %}
            <li class="message-item outgoing">
              <div class="message-content">
                <p>{{ message.content }}</p>
                <p class="message-time">
                  <span
                    >{{ message.timestamp.strftime('%d %b %Y') if (now -
                    message.timestamp).total_seconds() > 365*24*3600 else
                    message.timestamp.strftime('%d %b %H:%M') if (now -
                    message.timestamp).total_seconds() > 24*3600 else
                    message.timestamp.strftime('%H:%M') }}</span
                  >
                  <span
                    class="ms-1 {% if message.is_read %}text-success{% endif %}"
                    >{% if message.is_read %}Read{% else %}Sent{% endif %}</span
                  >
                </p>
              </div>
            </li>
            {% endif %} {% endfor %}

            <script>
              var messageList = document.querySelector(".message-list");

              messageList.style.scrollBehavior = "auto";

              messageList.scrollTop = messageList.scrollHeight;
            </script>
          </ul>

          <!-- Message Input -->
          <form
            class="message-input"
            method="post"
            action="{{ url_for('accounts.messages.messages') }}"
            id="sendMessageForm"
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input
              type="hidden"
              name="receiver_id"
              value="{{ request.args.get('user_id') }}"
            />
            <input
              type="text"
              name="content"
              id="connect"
              placeholder="Type your message..."
            />
            <button type="submit"><ion-icon name="send"></ion-icon></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Sender</th>
        <th scope="col">Receiver</th>
        <th scope="col">Message</th>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for message in all_messages %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ message.id }}</td>
        <td>{{ message.sender_id }}</td>
        <td>{{ message.receiver_id }}</td>
        <td>{{ message.content }}</td>
        <td>{{ message.timestamp }}</td>
        <td>{{ message.is_read }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  -->
</div>

{% endblock %}
