{% extends "base.html" %} {% block content %}

<!-- #MAIN BODY SECTION -->
<div class="container-fluid">
  <!-- Page Title Details -->
  <div class="text-center">
    <h2 class="fw-bold text-success mb-2">Payment History</h2>
    <p class="text-muted fst-italic">A track of payments history processed.</p>
  </div>

  <!-- Billing Details Table -->
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">Payment History Data Tables</div>
      <div class="card-body">
        <div class="table-responsive">
          <!-- Payment Details Table -->
          <table
            class="table table-striped text-center data-table"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th scope="col">NO.</th>
                <th scope="col">User ID</th>
                <th scope="col">Reading ID</th>
                <th scope="col">Payment ID</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Reference Number</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Amount</th>
                <th scope="col">Invoice Amount</th>
                <th scope="col">Status</th>
                <th scope="col">UniqueID</th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payment_data | sort(attribute='id',
              reverse=true) %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ payment.user_id }}</td>
                <td>{{ payment.invoice_id }}</td>
                <td>{{ payment.id }}</td>
                <td>{{ payment.payment_date.strftime('%d-%m-%Y') }}</td>
                <td>{{ payment.reference_number }}</td>
                <td>{{ payment.payment_method }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.invoice_amount }}</td>
                <td
                  class="fst-italic {% if payment.status %}text-success{% else %}text-secondary{% endif %}"
                >
                  {{ "Confirmed" if payment.status else "Pending" }}
                </td>
                <td>{{ payment.unique_user_id }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
