{% extends 'base.html' %} {% block content %}

<head>
  <style>
    .form-control {
      min-width: 150px;
    }
  </style>
</head>

<section class="container-fluid p-3">
  <div class="row">
    <!-- Nav Pills -->
    <div class="col-3 border-end">
      <div class="d-flex flex-column vh-75 p-3 bg-light rounded">
        <!-- Company Logo -->
        <div class="mb-auto text-center">
          <img
            src="{% if company_information.company_logo %} {{ company_information.company_logo }} {% else %} {{ url_for('static', filename='images/user.png') }} {% endif %}"
            alt="{% if company_information.company_name %} {{ company_information.company_name }}'s {% endif %} Profile Image"
            class="rounded-circle img-fluid profile-image mb-3"
            style="width: 120px; height: 120px; object-fit: cover"
          />
          <h4 class="company-name mb-4">
            {% if company_information.company_name %} {{
            company_information.company_name | title }} {% else %} ApoGen SS {%
            endif %}
          </h4>
        </div>

        <!-- Navigation Links -->
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item mb-2">
            <a
              class="nav-link active"
              id="tab1"
              data-bs-toggle="pill"
              href="#content1"
              >Company Information</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab2" data-bs-toggle="pill" href="#content2"
              >Services Settings</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab3" data-bs-toggle="pill" href="#content3"
              >Payment Methods</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab4" data-bs-toggle="pill" href="#content4"
              >Mail Settings</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab5" data-bs-toggle="pill" href="#content5"
              >Social Accounts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab Pane -->
    <div class="col-9">
      <div class="tab-content">
        <!-- Company Information -->
        <div class="tab-pane fade show active" id="content1">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Company Information</h3>
            <p class="text-muted fst-italic">
              Please provide the following details:
            </p>
          </div>

          <div class="container">
            <form
              method="post"
              action="{{ url_for('accounts.settings.settings') }}"
              id="company_information_form"
              enctype="multipart/form-data"
            >
              <!-- CSRF Token -->
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <div class="row">
                <!-- Company Logo -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_logo.label(class="form-label")
                  }}
                  <div class="input-group">
                    <input
                      type="file"
                      class="form-control"
                      id="company_logo"
                      name="company_logo"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_name.label(class="form-label")
                  }} {{
                  company_information_form.company_name(class="form-control
                  form-control-sm") }}
                </div>

                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_address.label(class="form-label")
                  }} {{
                  company_information_form.company_address(class="form-control
                  form-control-sm") }}
                </div>

                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_email.label(class="form-label")
                  }} {{
                  company_information_form.company_email(class="form-control
                  form-control-sm") }}
                </div>

                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.contact_number.label(class="form-label")
                  }} {{
                  company_information_form.contact_number(class="form-control
                  form-control-sm") }}
                </div>

                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_website_url.label(class="form-label")
                  }} {{
                  company_information_form.company_website_url(class="form-control
                  form-control-sm") }}
                </div>
              </div>
              <div class="mb-4">
                {{
                company_information_form.company_description.label(class="form-label")
                }} {{
                company_information_form.company_description(class="form-control
                form-control-sm") }}
              </div>

              <button
                type="submit"
                name="company_information_submit"
                form="company_information_form"
                class="btn btn-primary rounded-pill"
              >
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Company Logo</th>
        <th>Company Name</th>
        <th>Company Address</th>
        <th>Company Email</th>
        <th>Contact Number</th>
        <th>Company Website URL</th>
        <th>Company Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ company_information.company_logo }}</td>
        <td>{{ company_information.company_name }}</td>
        <td>{{ company_information.company_address }}</td>
        <td>{{ company_information.company_email }}</td>
        <td>{{ company_information.contact_number }}</td>
        <td>{{ company_information.company_website_url }}</td>
        <td>{{ company_information.company_description }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- JavaScript to store active tab in localStorage -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get all tab links
    const tabLinks = document.querySelectorAll('[data-bs-toggle="pill"]');

    // Function to handle tab click event
    function handleTabClick(event) {
      // Get the ID of the clicked tab
      const tabId = event.target.getAttribute("href").slice(1);

      // Store the ID of the active tab in localStorage
      localStorage.setItem("activeTabId", tabId);
    }

    // Add click event listeners to all tab links
    tabLinks.forEach(function (tabLink) {
      tabLink.addEventListener("click", handleTabClick);
    });

    // Get the ID of the last active tab from localStorage
    const activeTabId = localStorage.getItem("activeTabId");

    // If there's a stored active tab, activate it
    if (activeTabId) {
      const activeTab = document.querySelector(`[href="#${activeTabId}"]`);
      if (activeTab) {
        activeTab.click(); // Programmatically click the tab to activate it
      }
    }
  });
</script>

{% endblock %}
