{% if not hide_navbar %}

<!-- Navbar -->
<header
  id="navbar"
  class="navbar navbar-expand-lg sticky-sm-top {% if not current_user.is_authenticated %}bg-dark{% endif %}"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="navbar-brand text-center d-flex align-items-center fw-bold ms-3 {% if not current_user.is_authenticated %}text-light{% else %}gradient-text{% endif %}"
      href="#"
    >
      {{ company_name.title() }}
    </a>

    <!-- Navbar Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-icon {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
      ></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="d-flex align-items-center ms-auto">
        {% if not current_user.is_authenticated %}
        <!-- Login Button -->
        <ul class="navbar-nav me-3">
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#home"
            >
              Home
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#about"
            >
              About Us
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#services"
            >
              Services
            </a>
          </li>
          <li class="nav-item me-3">
            <a
              class="nav-link {% if not current_user.is_authenticated %}text-light{% else %}text-dark{% endif %}"
              href="#contact"
            >
              Contant
            </a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link text-primary" href="{{ url_for('auth.login') }}">
              Login
            </a>
          </li>
        </ul>
        {% endif %} {% if current_user.is_authenticated %}

        <!-- people Information and Dropdown -->
        <ul class="navbar-nav me-3">
          <li class="nav-item">
            <a class="nav-link text-dark">
              Hello
              <span class="text-info fw-bold"
                >{{ current_user.first_name.title() }}</span
              >
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark">
              Bill
              <span
                class="fw-bold {% if bill > 0 %}text-danger{% else %}text-success{% endif %}"
                >KES {% if bill > 0 %}-{% endif %} {{ bill }}</span
              >
            </a>
          </li>
        </ul>

        <!-- people Image Dropdown -->
        <div class="btn-group">
          <button
            type="button"
            class="btn navbar-brand rounded-circle border-0"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{ url_for('static', filename='images/user.png') }}"
              alt="logo image"
              height="40px"
              width="40px"
            />
          </button>

          <ul
            class="dropdown-menu dropdown-menu-end border-0 shadow bg-light"
            aria-labelledby="dropdownMenuButton"
          >
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.people.edit_user', user_id=current_user.id) }}"
              >
                <ion-icon name="person-outline" class="me-2"></ion-icon> Profile
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.records.billing') }}"
              >
                <ion-icon name="wallet-outline" class="me-2"></ion-icon> Billing
                Info
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.records.billing') }}"
              >
                <ion-icon name="stats-chart-outline" class="me-2"></ion-icon>
                Usage Statistics
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('accounts.security.security_options') }}"
              >
                <ion-icon
                  name="shield-checkmark-outline"
                  class="me-2"
                ></ion-icon>
                Security Options
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                onclick="localStorage.clear();"
                href="{{ url_for('auth.logout') }}"
              >
                <ion-icon name="log-out-outline" class="me-2"></ion-icon> Logout
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% endif %}
