{% if not hide_sidebar %}

<!-- Sidebar -->
<aside id="sidebar">
  <div class="d-flex mt-2">
    <!-- Toggle Button -->
    <button class="toggle-btn" type="button">
      <ion-icon name="apps-outline" class="text-dark"></ion-icon>
    </button>

    <!-- Sidebar Logo -->
    <div class="sidebar-logo">
      <a href="#" class="text-info">Apo<span class="text-danger">Gen</span></a>
    </div>
  </div>

  <!-- Sidebar Navigation -->
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a
        href="{{ url_for('accounts.dashboard.dashboard') }}"
        class="sidebar-link"
      >
        <ion-icon name="bar-chart" class="text-primary me-2"></ion-icon>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- people Dropdown -->
    <li class="sidebar-item">
      <a
        href="#people"
        class="sidebar-link collapsed has-dropdown"
        data-bs-toggle="collapse"
        data-bs-target="#people"
        aria-expanded="false"
        aria-controls="people"
      >
        <ion-icon name="people-outline" class="text-success"></ion-icon>
        <span>People</span>
      </a>
      <ul
        id="people"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a
            href="{{ url_for('accounts.people.people_list') }}"
            class="sidebar-link"
          >
            People List
          </a>
        </li>
        <li class="sidebar-item">
          <a
            href="{{ url_for('accounts.people.add_people') }}"
            class="sidebar-link"
          >
            Add New Person
          </a>
        </li>
      </ul>
    </li>

    <!-- Records and Water Supply Dropdown -->
    <li class="sidebar-item">
      <a
        href="#records_water_supply"
        class="sidebar-link collapsed has-dropdown"
        data-bs-toggle="collapse"
        data-bs-target="#records_water"
        aria-expanded="false"
        aria-controls="records_water"
      >
        <ion-icon name="water-outline" class="text-primary"></ion-icon>
        <span>Water Supply</span>
      </a>
      <ul
        id="records_water"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a
            href="{{ url_for('accounts.records.meter_readings') }}"
            class="sidebar-link"
          >
            Meter Readings
          </a>
        </li>
        <li class="sidebar-item">
          <a
            href="{{ url_for('accounts.records.billing') }}"
            class="sidebar-link"
          >
            Billing Info
          </a>
        </li>
        <li class="sidebar-item">
          <a
            href="{{ url_for('accounts.records.payments') }}"
            class="sidebar-link"
          >
            Payments
          </a>
        </li>
      </ul>
    </li>

    <!-- Messages -->
    <li class="sidebar-item">
      <a
        href="{{ url_for('accounts.messages.messages') }}"
        class="sidebar-link"
      >
        <ion-icon
          name="chatbubble-ellipses-outline"
          class="text-warning"
        ></ion-icon>
        <span>Messages</span>
      </a>
    </li>

    <!-- Settings -->
    <li class="sidebar-item">
      <a
        href="{{ url_for('accounts.settings.settings') }}"
        class="sidebar-link"
      >
        <ion-icon name="cog-outline" class="text-info"></ion-icon>
        <span>Settings</span>
      </a>
    </li>

    <!-- Security Options -->
    <li class="sidebar-item">
      <a
        href="{{ url_for('accounts.security.security_options') }}"
        class="sidebar-link"
      >
        <ion-icon
          name="shield-checkmark-outline"
          class="text-danger"
        ></ion-icon>
        <span>Security Options</span>
      </a>
    </li>
  </ul>

  <!-- Logout -->
  <div class="sidebar-footer">
    <a
      class="sidebar-link"
      href="{{ url_for('auth.logout') }}"
      onclick="localStorage.clear();"
    >
      <ion-icon name="power-outline" class="text-danger"></ion-icon>
      <span>Logout</span>
    </a>
  </div>
</aside>
{% endif %}
