{% extends 'base.html' %} {% block content %}

<head>
  <style>
    .form-control {
      min-width: 150px;
    }
  </style>
</head>

<section class="container-fluid p-3">
  <div class="row">
    <!-- Nav Pills -->
    <div class="col-lg-3 border-end">
      <div class="d-flex flex-column vh-75 p-3 bg-light rounded">
        <!-- Company Logo -->
        <div class="mb-auto text-center">
          <img
            src="{% if company_information.company_logo %} {{ company_information.company_logo }} {% else %} {{ url_for('static', filename='images/user.png') }} {% endif %}"
            alt="{% if company_information.company_name %} {{ company_information.company_name }}'s {% endif %} Profile Image"
            class="rounded-circle img-fluid profile-image mb-3"
            style="width: 120px; height: 120px; object-fit: cover"
          />
          <h4 class="company-name mb-4">{{ company_name | title }}</h4>
        </div>

        <!-- Navigation Links -->
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item mb-2">
            <a
              class="nav-link active"
              id="tab1"
              data-bs-toggle="pill"
              href="#content1"
              >Company Information</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab2" data-bs-toggle="pill" href="#content2"
              >Services Settings</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab3" data-bs-toggle="pill" href="#content3"
              >Payment Methods</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab4" data-bs-toggle="pill" href="#content4"
              >Mail Settings</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" id="tab5" data-bs-toggle="pill" href="#content5"
              >Social Accounts</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab Pane -->
    <div class="col-lg-9">
      <div class="tab-content">
        <!-- Company Information -->
        <div class="tab-pane fade show active" id="content1">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Company Information</h3>
            <p class="text-muted fst-italic">
              Please provide the following details:
            </p>
          </div>

          <div class="container">
            <form
              method="post"
              action="{{ url_for('accounts.settings.settings') }}"
              id="company_information_form"
              enctype="multipart/form-data"
            >
              <!-- CSRF Token -->
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />

              <div class="row">
                <!-- Company Logo -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_logo.label(class="form-label")
                  }}
                  <div class="input-group">
                    <input
                      type="file"
                      class="form-control"
                      id="company_logo"
                      name="company_logo"
                    />
                  </div>
                </div>

                <!-- Company Name -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_name.label(class="form-label")
                  }} {{
                  company_information_form.company_name(class="form-control
                  form-control-sm") }}
                </div>

                <!-- Company Address -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_address.label(class="form-label")
                  }} {{
                  company_information_form.company_address(class="form-control
                  form-control-sm") }}
                </div>

                <!-- Company Email -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_email.label(class="form-label")
                  }} {{
                  company_information_form.company_email(class="form-control
                  form-control-sm") }}
                </div>

                <!-- Contact Number -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.contact_number.label(class="form-label")
                  }} {{
                  company_information_form.contact_number(class="form-control
                  form-control-sm") }}
                </div>

                <!-- Company Website URL -->
                <div class="col-md-6 mb-3">
                  {{
                  company_information_form.company_website_url.label(class="form-label")
                  }} {{
                  company_information_form.company_website_url(class="form-control
                  form-control-sm") }}
                </div>
              </div>

              <!-- Company Description -->
              <div class="mb-4">
                {{
                company_information_form.company_description.label(class="form-label")
                }} {{
                company_information_form.company_description(class="form-control
                form-control-sm", rows=3) }}
              </div>

              <!-- Submit Button -->
              <div class="text-center">
                <button
                  type="submit"
                  form="company_information_form"
                  class="btn btn-outline-primary rounded-pill"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Services Settings -->
        <div class="tab-pane fade" id="content2">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Services Settings</h3>
            <p class="text-muted fst-italic">Content for Services Settings.</p>
          </div>

          <div class="container">
            <form
              method="post"
              action="{{ url_for('accounts.settings.service_settings') }}"
              id="service_settings_form"
            >
              <!-- CSRF Token -->
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />

              <!-- Unit Price -->
              <div class="row mb-3">
                <label for="unit_price" class="form-label col-sm-3">
                  Unit Price
                </label>
                <div class="col-sm-9">
                  <input
                    type="number"
                    class="form-control"
                    id="unit_price"
                    name="unit_price"
                    placeholder="Enter Unit Price"
                    value="{{ service_settings.unit_price if service_settings else '' }}"
                  />
                </div>
              </div>

              <!-- Service Fee -->
              <div class="row mb-3">
                <label for="service_fee" class="form-label col-sm-3">
                  Service Fee
                </label>
                <div class="col-sm-9">
                  <input
                    type="number"
                    class="form-control"
                    id="service_fee"
                    name="service_fee"
                    placeholder="Enter Service Fee"
                    value="{{ service_settings.service_fee if service_settings else '' }}"
                  />
                </div>
              </div>

              <!-- Submit Button -->
              <div class="text-center mt-5 mb-5">
                <button
                  type="submit"
                  form="service_settings_form"
                  class="btn btn-outline-primary rounded-pill"
                >
                  Update
                </button>
              </div>
            </form>
          </div>

          <div class="container">
            <!-- Adding House Section -->
            <div class="mb-3">
              <form
                method="post"
                action="{{ url_for('accounts.settings.add_section') }}"
                id="add_section_form"
              >
                <!-- CSRF Token -->
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />

                <div class="row mb-3">
                  <label for="house_sections" class="form-label col-sm-3"
                    >Add House Section</label
                  >
                  <div class="col-sm-7">
                    <input
                      type="text"
                      class="form-control"
                      id="house_sections"
                      name="house_sections"
                      placeholder="Enter House Section"
                    />
                  </div>

                  <div class="text-center col-sm-2">
                    <button
                      type="submit"
                      class="btn btn-sm btn-outline-success rounded-pill"
                    >
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <!-- Editing House Section -->
            <div class="mb-3">
              <form
                method="post"
                action="{{ url_for('accounts.settings.edit_section') }}"
                id="edit_section_form"
              >
                <!-- CSRF Token -->
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />

                <div class="row mb-3">
                  <label for="edit_house_section" class="form-label col-sm-3"
                    >Select Section</label
                  >
                  <div class="col-sm-7">
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          id="edit_house_section"
                          name="edit_house_section"
                        >
                          {% for section in all_house_sections %}
                          <option value="{{ section }}">{{ section }}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          id="new_section_name"
                          name="new_section_name"
                          placeholder="New Section Name"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="text-center col-sm-2">
                    <button
                      type="submit"
                      class="btn btn-sm btn-outline-primary rounded-pill"
                    >
                      Edit
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <!-- Delete House Section -->
            <div class="mb-3">
              <form
                method="post"
                action="{{ url_for('accounts.settings.delete_section') }}"
                id="delete_section_form"
              >
                <!-- CSRF Token -->
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />

                <div class="row mb-3">
                  <label for="delete_house_section" class="form-label col-sm-3"
                    >Select Section</label
                  >
                  <div class="col-sm-7">
                    <select
                      class="form-select"
                      id="delete_house_section"
                      name="delete_house_section"
                    >
                      {% for section in all_house_sections %}
                      <option value="{{ section }}">{{ section }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="text-center col-sm-2">
                    <button
                      type="submit"
                      class="btn btn-sm btn-outline-danger rounded-pill"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Payment Methods -->
        <div class="tab-pane fade" id="content3">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Payment Methods</h3>
            <p class="text-muted fst-italic">Content for Payment Methods.</p>
          </div>

          <form
            method="post"
            action="{{ url_for('accounts.settings.payment_methods') }}"
            id="payment_methods_form"
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <!-- Bank Name -->
            <div class="row mb-3">
              <label for="bank_name" class="form-label col-sm-3"
                >Bank Name</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="bank_name"
                  name="bank_name"
                  placeholder="Enter Bank Name"
                  value="{{ payment_methods.bank_name if payment_methods else '' }}"
                />
              </div>
            </div>

            <!-- Pay Bill Number -->
            <div class="row mb-3">
              <label for="paybill" class="form-label col-sm-3"
                >Pay Bill Number</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="paybill"
                  name="paybill"
                  placeholder="Enter Pay Bill Number"
                  value="{{ payment_methods.paybill if payment_methods else '' }}"
                />
              </div>
            </div>

            <!-- Account Number -->
            <div class="row mb-3">
              <label for="account_number" class="form-label col-sm-3"
                >Account Number</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="account_number"
                  name="account_number"
                  placeholder="Enter Account Number"
                  value="{{ payment_methods.account_number if payment_methods else '' }}"
                />
              </div>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <button
                type="submit"
                form="payment_methods_form"
                class="btn btn-outline-primary rounded-pill"
              >
                Update
              </button>
            </div>
          </form>
        </div>

        <!-- Mail Settings -->
        <div class="tab-pane fade" id="content4">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Mail Settings</h3>
            <p class="text-muted fst-italic">Content for Mail Settings.</p>
          </div>

          <form
            method="post"
            action="{{ url_for('accounts.settings.mail_settings') }}"
            id="mail_settings_form"
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <!-- Mail Server -->
            <div class="row mb-3">
              <label for="mail_server" class="form-label col-sm-3"
                >Mail Server</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="mail_server"
                  name="mail_server"
                  placeholder="Enter Mail Server"
                  value="{{ mail_settings.mail_server if mail_settings else '' }}"
                />
              </div>
            </div>

            <!-- Company Email -->
            <div class="row mb-3">
              <label for="companyEmail" class="form-label col-sm-3"
                >Company Email</label
              >
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="companyEmail"
                  name="company_email"
                  placeholder="Enter company email"
                  value="{{ mail_settings.company_email if mail_settings else '' }}"
                />
              </div>
            </div>

            <!-- Email Password -->
            <div class="row mb-3">
              <label for="company_email_password" class="form-label col-sm-3">
                Email Password
              </label>
              <div class="col-sm-9">
                <div class="input-group border rounded-3">
                  <input
                    type="password"
                    class="form-control"
                    id="company_email_password"
                    name="password"
                    placeholder="Enter company email password"
                    value="{{ mail_settings.password if mail_settings else '' }}"
                  />
                  <button
                    class="btn btn-light"
                    type="button"
                    onclick="togglePassword('company_email_password', 'company_email_password_icon')"
                    title="Toggle Password Visibility"
                  >
                    <ion-icon
                      id="company_email_password_icon"
                      name="eye"
                      class="text-primary"
                    ></ion-icon>
                  </button>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <button
                type="submit"
                form="mail_settings_form"
                class="btn btn-outline-primary rounded-pill"
              >
                Update
              </button>
            </div>
          </form>
        </div>

        <!-- Social Accounts -->
        <div class="tab-pane fade" id="content5">
          <div class="text-center">
            <h3 class="fw-bold mt-3 mb-2 text-success">Social Accounts</h3>
            <p class="text-muted fst-italic">
              Optimize your system configuration with ease.
            </p>
          </div>

          <div class="text-center">
            <div class="social-icons mb-4">
              {% if social_accounts.whatsapp %}
              <a
                target="_blank"
                href="{{ social_accounts.whatsapp }}"
                class="social-icon btn btn-sm btn-success mb-3"
              >
                <ion-icon name="logo-whatsapp"></ion-icon>
                <span class="d-none d-sm-inline">WhatsApp</span>
              </a>
              {% endif %} {% if social_accounts.facebook %}
              <a
                target="_blank"
                href="{{ social_accounts.facebook }}"
                class="social-icon btn btn-sm btn-primary mb-3"
              >
                <ion-icon name="logo-facebook"></ion-icon>
                <span class="d-none d-sm-inline">Facebook</span>
              </a>
              {% endif %} {% if social_accounts.youtube %}
              <a
                target="_blank"
                href="{{ social_accounts.youtube }}"
                class="social-icon btn btn-sm btn-danger mb-3"
              >
                <ion-icon name="logo-youtube"></ion-icon>
                <span class="d-none d-sm-inline">YouTube</span>
              </a>
              {% endif %} {% if social_accounts.twitter %}
              <a
                target="_blank"
                href="{{ social_accounts.twitter }}"
                class="social-icon btn btn-sm btn-dark mb-3"
              >
                <ion-icon name="logo-twitter"></ion-icon>
                <span class="d-none d-sm-inline">Twitter</span>
              </a>
              {% endif %} {% if social_accounts.instagram %}
              <a
                target="_blank"
                href="{{ social_accounts.instagram }}"
                class="social-icon btn btn-sm btn-danger mb-3"
              >
                <ion-icon name="logo-instagram"></ion-icon>
                <span class="d-none d-sm-inline">Instagram</span>
              </a>
              {% endif %} {% if social_accounts.tiktok %}
              <a
                target="_blank"
                href="{{ social_accounts.tiktok }}"
                class="social-icon btn btn-sm btn-dark mb-3"
              >
                <ion-icon name="logo-tiktok"></ion-icon>
                <span class="d-none d-sm-inline">TikTok</span>
              </a>
              {% endif %} {% if social_accounts.linkedin %}
              <a
                target="_blank"
                href="{{ social_accounts.linkedin }}"
                class="social-icon btn btn-sm btn-info mb-3"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
                <span class="d-none d-sm-inline">LinkedIn</span>
              </a>
              {% endif %}
            </div>
          </div>

          <div class="container">
            <form
              method="post"
              action="{{ url_for('accounts.settings.social_accounts') }}"
              id="social_accounts_form"
              enctype="multipart/form-data"
            >
              <!-- CSRF Token -->
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <div class="row">
                <!-- WhatsApp URL -->
                <div class="mb-3 row">
                  <label for="whatsapp" class="form-label col-sm-2"
                    >WhatsApp</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="whatsapp"
                      name="whatsapp"
                      placeholder="Enter WhatsApp URL"
                      value="{{ social_accounts.whatsapp if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- Facebook URL -->
                <div class="mb-3 row">
                  <label for="facebook" class="form-label col-sm-2"
                    >Facebook</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="facebook"
                      name="facebook"
                      placeholder="Enter Facebook URL"
                      value="{{ social_accounts.facebook if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- YouTube URL -->
                <div class="mb-3 row">
                  <label for="youtube" class="form-label col-sm-2"
                    >YouTube</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="youtube"
                      name="youtube"
                      placeholder="Enter YouTube URL"
                      value="{{ social_accounts.youtube if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- Twitter URL -->
                <div class="mb-3 row">
                  <label for="twitter" class="form-label col-sm-2"
                    >Twitter</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="twitter"
                      name="twitter"
                      placeholder="Enter Twitter URL"
                      value="{{ social_accounts.twitter if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- Instagram URL -->
                <div class="mb-3 row">
                  <label for="instagram" class="form-label col-sm-2"
                    >Instagram</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="instagram"
                      name="instagram"
                      placeholder="Enter Instagram URL"
                      value="{{ social_accounts.instagram if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- TikTok URL -->
                <div class="mb-3 row">
                  <label for="tiktok" class="form-label col-sm-2">TikTok</label>
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="tiktok"
                      name="tiktok"
                      placeholder="Enter TikTok URL"
                      value="{{ social_accounts.tiktok if social_accounts else '' }}"
                    />
                  </div>
                </div>

                <!-- Linkedin URL -->
                <div class="mb-3 row">
                  <label for="linkedin" class="form-label col-sm-2"
                    >Linkedin</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="url"
                      class="form-control form-control-sm"
                      id="linkedin"
                      name="linkedin"
                      placeholder="Enter Linkedin URL"
                      value="{{ social_accounts.linkedin if social_accounts else '' }}"
                    />
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button
                  type="submit"
                  form="social_accounts_form"
                  class="btn btn-outline-primary rounded-pill"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- JavaScript to store active tab in localStorage -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get all tab links
    const tabLinks = document.querySelectorAll('[data-bs-toggle="pill"]');

    // Function to handle tab click event
    function handleTabClick(event) {
      // Get the ID of the clicked tab
      const tabId = event.target.getAttribute("href").slice(1);

      // Store the ID of the active tab in localStorage
      localStorage.setItem("activeTabId", tabId);
    }

    // Add click event listeners to all tab links
    tabLinks.forEach(function (tabLink) {
      tabLink.addEventListener("click", handleTabClick);
    });

    // Get the ID of the last active tab from localStorage
    const activeTabId = localStorage.getItem("activeTabId");

    // If there's a stored active tab, activate it
    if (activeTabId) {
      const activeTab = document.querySelector(`[href="#${activeTabId}"]`);
      if (activeTab) {
        activeTab.click(); // Programmatically click the tab to activate it
      }
    }
  });
</script>

{% endblock %}
