{% if not hide_footer %}

<footer class="bg-dark text-light mt-3 py-5">
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 text-lg-start text-center">
        <h3 class="mb-4">Contact Information</h3>
        <p>
          <ion-icon
            name="location-outline"
            class="text-primary me-2"
          ></ion-icon>
          {{ company_address }}
        </p>
        <p>
          <ion-icon name="mail-outline" class="text-info me-2"></ion-icon>
          {{ company_email }}
        </p>
        <p>
          <ion-icon name="call-outline" class="text-success me-2"></ion-icon>
          +{{ contact_number }}
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 text-lg-center text-center">
        <h3 class="mb-4">Quick Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#HOME">Home</a></li>
          <li class="mb-2"><a href="#about">About Us</a></li>
          <li class="mb-2"><a href="#services">Services</a></li>
          <li class="mb-2"><a href="#contact">Contact</a></li>
          <li class="mb-2"><a href="#testimonials">Testimonials</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 text-lg-end text-center">
        <h3 class="mb-4">Follow Us</h3>
        <div class="social-media">
          <p class="mb-4">Stay connected on social media:</p>
          <ul class="list-inline mb-0">
            {% if whatsapp %}
            <li class="list-inline-item me-2">
              <a
                href="{{ whatsapp }}"
                class="social-icon text-success"
                title="WhatsApp"
                target="_blank"
              >
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>
            {% endif %} {% if facebook %}
            <li class="list-inline-item me-2">
              <a
                href="{{ facebook }}"
                class="social-icon text-primary"
                title="Facebook"
                target="_blank"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            {% endif %} {% if youtube %}
            <li class="list-inline-item me-2">
              <a
                href="{{ youtube }}"
                class="social-icon text-danger"
                title="YouTube"
                target="_blank"
              >
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
            {% endif %} {% if instagram %}
            <li class="list-inline-item me-2">
              <a
                href="{{ instagram }}"
                class="social-icon text-danger"
                title="Instagram"
                target="_blank"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            {% endif %} {% if twitter %}
            <li class="list-inline-item me-2">
              <a
                href="{{ twitter }}"
                class="social-icon text-primary"
                title="Twitter"
                target="_blank"
              >
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
            {% endif %} {% if linkedin %}
            <li class="list-inline-item me-2">
              <a
                href="{{ linkedin }}"
                class="social-icon text-info"
                title="LinkedIn"
                target="_blank"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            {% endif %} {% if tiktok %}
            <li class="list-inline-item me-2">
              <a
                href="{{ tiktok }}"
                class="social-icon text-secondary"
                title="TikTok"
                target="_blank"
              >
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="mb-0">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="mailto:mungiria8@gmail.com">ApoGen.io</a>. All Rights Reserved
    </p>
  </div>
</footer>

{% endif %}
