{% extends "base.html" %} {% block content %}

<!-- #MAIN BODY SECTION -->
<div class="container-fluid">
  <h4>Add peoples Page</h4>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, itaque
    blanditiis atque, iure cupiditate repellendus nesciunt quo dicta sed
    reprehenderit commodi quis quisquam, laboriosam natus. Distinctio, atque
    ratione. Excepturi, quod?
  </p>

  <!-- The correct URL generation for the dashboard route -->
</div>

{% endblock %}
