{% extends "base.html" %} {% block content %}

<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/components/chats.css') }}"
  />
</head>

<div class="container-fluid">
  <!-- Chat App -->
  <div class="row">
    <!-- Page Title for Mobiles -->
    <div class="col-lg-12 text-center d-block d-sm-none mt-3">
      <h4 class="fw-bold text-success mb-2">Join Our Chat Community</h4>
      <p class="text-muted fst-italic mb-2">
        Discover and connect with fellow members.
      </p>
    </div>

    <!-- Contacts Sidebar -->
    <div class="col-lg-3 rounded-start shadow-sm py-3 chat-sidebar">
      <div class="fw-bold text-dark text-center h4 p-2">Contacts</div>
      <ul class="list-group border-0 chat-sidebar-content">
        <!-- Broadcast Message -->
        <li
          class="list-group-item border-0 rounded p-2 mb-1 {% if chatting_user_id == '0' %}bg-primary bg-opacity-10{% endif %}"
        >
          <a
            href="{{ url_for('accounts.messages.messages', user_id=0) }}"
            class="d-flex align-items-center text-decoration-none"
          >
            <img
              src="https://via.placeholder.com/50"
              alt="Broadcast"
              class="rounded-circle img-fluid profile-image me-3"
            />
            <div>
              <h6 class="mb-0">Broadcast</h6>
              <p class="mb-0 text-muted">All members</p>
            </div>
          </a>
        </li>

        <!-- Chat Self -->
        <li
          class="list-group-item border-0 rounded p-2 mb-1 {% if chatting_user_id == current_user.id %}bg-primary bg-opacity-10{% endif %}"
        >
          <a
            href="{{ url_for('accounts.messages.messages', user_id=current_user.id) }}"
            class="d-flex align-items-center text-decoration-none"
          >
            {% set profile_image = current_user.profile_image if
            current_user.profile_image is not none else url_for('static',
            filename='images/user.png') %}
            <img
              src="{{ profile_image }}"
              alt="{{ current_user.first_name|title }}'s Profile Image"
              class="rounded-circle img-fluid profile-image me-3"
            />
            <div>
              <h6 class="mb-0">
                @{{ current_user.first_name }}{{ current_user.last_name }}
              </h6>
              <p class="mb-0 text-success fst-italic">Online</p>
            </div>
          </a>
        </li>

        <!-- Chat Individuals -->
        {% set sorted_users = all_users | sort(attribute='id') %} {% for user in
        sorted_users %} {% if user.id != current_user.id %}
        <li
          class="mobile list-group-item border-0 rounded p-2 mb-1 {% if user.id == chatting_user_id %}bg-primary bg-opacity-10{% endif %} d-flex align-items-center"
        >
          <a
            href="{{ url_for('accounts.messages.messages', user_id=user.id) }}"
            class="d-flex align-items-center text-decoration-none"
          >
            {% set profile_image = user.profile_image if user.profile_image is
            not none else url_for('static', filename='images/user.png') %}
            <img
              src="{{ profile_image }}"
              alt="{{ user.first_name|title }}'s Profile Image"
              class="rounded-circle img-fluid profile-image me-3"
            />
            <div>
              <h6 class="mb-0">
                {{ user.first_name.title() }} {{ user.last_name.title() }}
              </h6>
              <!-- Last Seen Online -->
              {% if user.last_login is not none and user.last_logout is not none
              %} {% if user.last_login > user.last_logout %}
              <p class="mb-0 text-success fst-italic">Online</p>
              {% else %} {% set time_difference = now - user.last_logout %} {%
              if time_difference.days > 0 %} {% set time_unit = 'days' %} {%
              elif time_difference.seconds // 3600 > 0 %} {% set time_unit =
              'hrs' %} {% else %} {% set time_unit = 'min' %} {% endif %}
              <p class="mb-0 text-muted fst-italic">
                Active {{ time_difference.days if time_unit == 'days' else
                time_difference.seconds // 3600 if time_unit == 'hrs' else
                time_difference.seconds // 60 }} {{ time_unit }} ago
              </p>
              {% endif %} {% endif %}
            </div>
            {% set unread_count = unread_sent_message_counts[user.id] if user.id
            in unread_sent_message_counts else 0 %} {% if unread_count > 0 %}
            <span class="unread-message-count ms-auto">{{ unread_count }}</span>
            {% endif %}
          </a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>

    <!-- Chat Area -->
    <div class="col-lg-9 rounded-end shadow-sm p-3 chat-main">
      <!-- Page Title for Desktops -->
      <div class="text-center d-none d-sm-block">
        <h4 class="fw-bold text-success mb-2">Join Our Chat Community</h4>
        <p class="text-muted fst-italic mb-2">
          Discover and connect with fellow members.
        </p>
      </div>

      {% set header_text %} {% if chatting_user_id %} {% if chatting_user_id ==
      current_user.id %} Chatting with Yourself {% else %} {% set
      broadcast_message = chatting_user_id == '0' %} {% for user in all_users %}
      {% if not broadcast_message and chatting_user_id == user.id %} Chatting
      with {{ user.first_name|title }} {{ user.last_name|title }} {% endif %} {%
      endfor %} {% if broadcast_message %} This is a broadcast message {% endif
      %} {% endif %} {% else %} No Open Conversation {% endif %} {% endset %}

      <h5 class="fw-bold mb-2 ms-3 text-center">{{ header_text }}</h5>

      <!-- Chat Messages List -->
      <ul
        class="chat-area list-group {% if messages %}d-flex flex-column{% endif %}"
      >
        {% for message in messages %}
        <!-- Incoming Messages -->
        {% if message.receiver_id == current_user.id and message.sender_id !=
        current_user.id %}
        <li
          class="list-group-item border-0 incoming bg-secondary bg-opacity-10 rounded mb-2"
        >
          <div>{{ message.content }}</div>
          <div class="text-muted text-secondary text-end small mb-0">
            <span
              >{{ message.timestamp.strftime('%d %b %Y') if (now -
              message.timestamp).total_seconds() > 365*24*3600 else
              message.timestamp.strftime('%d %b %H:%M') if (now -
              message.timestamp).total_seconds() > 24*3600 else
              message.timestamp.strftime('%H:%M') }}</span
            >
          </div>
        </li>
        {% elif message.receiver_id == 0 and message.sender_id !=
        current_user.id %}
        <li
          class="list-group-item border-0 incoming bg-secondary bg-opacity-10 rounded mb-2"
        >
          <div>{{ message.content }}</div>
          <div class="text-muted text-secondary text-end small mb-0">
            <span class="ms-2"
              >from {{ get_sender_name(message.sender_id) }}</span
            >
            <span
              >{{ message.timestamp.strftime('%d %b %Y') if (now -
              message.timestamp).total_seconds() > 365*24*3600 else
              message.timestamp.strftime('%d %b %H:%M') if (now -
              message.timestamp).total_seconds() > 24*3600 else
              message.timestamp.strftime('%H:%M') }}</span
            >
          </div>
        </li>
        {% endif %}

        <!-- Outgoing Messages -->
        {% if message.sender_id == current_user.id %}
        <li
          class="list-group-item border-0 outgoing bg-info bg-opacity-10 rounded mb-2"
        >
          <div>{{ message.content }}</div>
          <div class="text-muted text-secondary text-end small mb-0">
            <span
              >{{ message.timestamp.strftime('%d %b %Y') if (now -
              message.timestamp).total_seconds() > 365*24*3600 else
              message.timestamp.strftime('%d %b %H:%M') if (now -
              message.timestamp).total_seconds() > 24*3600 else
              message.timestamp.strftime('%H:%M') }}</span
            >
            <span class="{% if message.is_read %}text-success{% endif %} ms-1"
              >{% if message.is_read %}Read{% else %}Sent{% endif %}</span
            >
          </div>
        </li>
        {% endif %} {% endfor %}
        <script>
          var messageList = document.querySelector(".chat-area");
          messageList.style.scrollBehavior = "auto";
          messageList.scrollTop = messageList.scrollHeight;
        </script>
      </ul>

      <!-- Message Input -->
      <form
        class="{% if not request.args.get('user_id') %}d-none{% endif %}"
        method="post"
        action="{{ url_for('accounts.messages.messages') }}"
      >
        <!-- CSRF Token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
          type="hidden"
          name="receiver_id"
          value="{{ request.args.get('user_id') }}"
        />

        {% if chatting_user_id != '0' %}
        <div class="input-group mt-3 mb-3">
          <input
            class="form-control rounded-start me-3"
            type="text"
            name="content"
            id="connect"
            placeholder="Type your message..."
            aria-describedby="button-addon"
          />
          <button
            class="bg-primary text-light rounded-end px-3"
            type="submit"
            id="button-addon"
          >
            <ion-icon name="send"></ion-icon>
          </button>
        </div>
        {% elif chatting_user_id == '0' and current_user.is_admin %}
        <div class="input-group mt-3 mb-3">
          <input
            class="form-control rounded-start me-3"
            type="text"
            name="content"
            id="connect"
            placeholder="Type your message..."
            aria-describedby="button-addon"
          />
          <button
            class="bg-primary text-light rounded-end px-3"
            type="submit"
            id="button-addon"
          >
            <ion-icon name="send"></ion-icon>
          </button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
