<!-- File: app/templates/auth/reset_password_request.html -->

{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-7 mt-5">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="card-title">Forgot Password</h2>
          <p>
            Please enter your email address and we will send a password reset
            link to your email.
          </p>

          <div id="alert-message" class="alert" role="alert">
            <!-- Alert messages will be inserted here -->
          </div>

          <form
            id="reset-password-form"
            method="post"
            action="{{ url_for('auth.reset_password_request') }}"
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <!-- Email Input -->
            <div class="form-group mb-3">
              {{ form.email.label(class="form-label") }} {{
              form.email(placeholder="Enter your email address",
              class="form-control") }} {% for error in form.email.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-outline-primary">
              Reset Password
            </button>
          </form>

          <p class="mt-3">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            ApoGen
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to display alert messages
  function showAlert(message, type) {
    var alertDiv = document.getElementById("alert-message");
    alertDiv.innerHTML = `<div class="alert alert-${type}" role="alert">${message}</div>`;
  }

  // Submit form and handle response
  document
    .getElementById("reset-password-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      var form = this;
      fetch(form.action, {
        method: "POST",
        body: new FormData(form),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          showAlert(data.message, data.type);
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
</script>

{% endblock %}
