<!-- File: app/templates/auth/reset_password_request.html -->

{% extends 'base.html' %} {% block content %}

<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="col-md-6">
      <div class="card shadow-sm border-0 bg-secondary bg-opacity-10">
        <div class="card-body">
          <h2 class="card-title text-center">Reset Password</h2>
          <form
            method="post"
            action="{{ url_for('auth.reset_password_request') }}"
          >
            <!-- CSRF Token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <!-- Email Input -->
            <div class="form-group mb-3">
              {{ form.email.label(class="form-label") }} {{
              form.email(placeholder="Enter your email address",
              class="form-control") }} {% for error in form.email.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
